<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <style>
    .card {
      margin-top: 1.25rem
    }
    .hekomi {
      box-shadow:
        -10px 10px 30px transparent,
        10px -10px 30px transparent,
        inset -10px 10px 30px rgba(18, 47, 61, 0.5),
        inset 10px -10px 30px rgba(248, 253, 255, 0.9);
    }
    img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }
    .wf-nikukyu { font-family: "Nikukyu"; }
    .wf-nicomoji { font-family: "Nico Moji"; }
    .wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Metal Wendy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" id="menuWing" href="#">WingAction
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="menuRun" href="#">Run! Run! Run!
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/soumunote/metal-wendy">どこにある？</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:soumunote@gmail.com">だれの？</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="disokay-4 wf-nikukyu">ウェンディ</h1>
          <p class="lead wf-roundedmplus1c"><span class="">ウェンディ</span>へお願いしてみましょう。</p>
        </div>        
        <div class="col-4">
          <img src="{{ url_for('static', path='images/wendy.png') }}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div id="divWing" style="display: inline-block;">
      <div class="card">
        <h6 class="card-header">耳上げて！</h6>
        <div class="card-body">
          <p class="card-text">指定角度に耳たぶを持ち上げます。</p>
          <input type="text" id="degree"
            data-provider="slider" data-slider-min="-90" data-slider-max="90" 
            data-slider-step="10"  data-slider-value="-90" data-slider-orientation="horizontal"/>
        </div>
      </div>  
      <div class="card">
        <h6 class="card-header">今の気持ちは？</h6>
        <div class="card-body">
          <p class="card-text">ウェンディの気持ちを表現します。</p>
          <button id="delight" class="btn btn-primary wendy-action">歓喜</button>
          <button id="sleepy" class="btn btn-primary wendy-action">眠い</button>
        </div>
      </div>
    </div>

    <div id="divRun" style="display: none;">
      <div class="card">
        <h6 class="card-header">Stick</h6>
        <div class="m-3">
          <div class="row">
            <div id="motorL" class="col m-1 border text-right">&nbsp;</div>
            <div id="motorR" class="col m-1 border text-right">&nbsp;</div>
          </div>
          <div class="row">
            <div id="textX" class="col m-1 border text-right">&nbsp;</div>
            <div id="textY" class="col m-1 border text-right">&nbsp;</div>
          </div>
        </div>
        <div id="slideArea" style="background: #cccccc;">
          <div class="hekomi"
              style="width: 160px; height: 160px; border-radius: 50%; 
                      margin: 30px;">
              <img src="{{ url_for('static', path='images/SlidePadRed.png') }}"
                   id="pad"
                   style="position: relative; top:20px; left:20px; 
                          touch-action: none;">
              <!--
              <canvas id="pad" width="120px" height="120px"
                   style="position: relative; top:20px; left:20px; 
                          pointer-events: none;  touch-action: none;">
              </canvas>
              -->
          </div>
        </div>
      </div>  
    </div>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', path='jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='bootstrap-slider/bootstrap-slider.min.js') }}"></script>

  <script type="text/JavaScript">
    $(function() {
      $('.wendy-action').click(function() {
        $.ajax({url: "/wings/action/" + this.id });
      });

      $('#degree').slider();
      $('#degree').on('change', function() {
        $.ajax({url: "/wings/single/" + this.value + "/0" });
      });

      $('.nav-link').on('click', function() {
        switch ($(this).attr('id')) {
          case "menuWing":
            $('#divWing').css('display', 'inline-block');
            $('#divRun' ).css('display', 'none');
            break ;
          case "menuRun":
            $('#divWing').css('display', 'none');
            $('#divRun' ).css('display', 'inline-block');
            break ;
        }
        $('#navbarResponsive').addClass('collapse');
      });

      class SlidePad {

        static get MAX_SLIDE() {return 30;}

        constructor(slidePad) {
          this.slidePad = slidePad;
          this.initialPosition = { left: 20, top:20 };
          this.operating = false;
        }

        start(startX, startY) {
          this.startX = startX;
          this.startY = startY;
          this.operating = true;
        }

        move(currentX, currentY) {
          if (this.operating) {
            this.currentX = currentX;
            this.currentY = currentY;
            const coord = this.coordinate;
            this.slidePad.css({
              left: coord.x + this.initialPosition.left,
              top:  coord.y + this.initialPosition.top,
            });
            
          }
        }

        end() {
          this.move(this.startX , this.startY);
          this.operating = false;
        }

        get coordinate() {
          const dX = this.currentX - this.startX;
          const dY = this.currentY - this.startY;
          const theta = Math.atan2(slidePad.y, slidePad.x);
          const maxX = Math.cos(theta) * SlidePad.MAX_SLIDE;
          const maxY = Math.sin(theta) * SlidePad.MAX_SLIDE;
          let x = slidePad.x;
          let y = slidePad.y;
          x = Math.abs(x) < Math.abs(maxX) ? x : maxX; 
          y = Math.abs(y) < Math.abs(maxY) ? y : maxY; 
          return {
            x: x, 
            y: y,
          };            
        }

        get x() {
          if (this.operating) {
            const x = this.currentX - this.startX;
            return Math.abs(x) > SlidePad.MAX_SLIDE ? SlidePad.MAX_SLIDE * Math.sign(x) : x;
          }
          else {
            return 0;
          } 
        }

        get y() {
          if (this.operating) {
            const y = this.currentY - this.startY;
            return Math.abs(y) > SlidePad.MAX_SLIDE ? SlidePad.MAX_SLIDE * Math.sign(y) : y;
          }
          else {
            return 0;
          } 
        }

        getMotorL() {
         let speed = Math.floor(y * -1 / 4) * 20;
         if (x < 0) {
          }

        }
      }
      const slidePad = new SlidePad($('#pad'));
      let dragging = false;

      $('#slideArea').on({

        "pointerdown": function(e) {
          slidePad.start(e.clientX, e.clientY);
          showValue();
        },

        "pointerup": function(e) {
          slidePad.end();
          showValue();
        },

        "pointermove": function(e) {
          slidePad.move(e.clientX, e.clientY);
          showValue();
        },

      });

      function showValue() {
        const coord = slidePad.coordinate;
        $('#textX').html(Math.floor(coord.x));
        $('#textY').html(Math.floor(coord.y));
      }
    });
  </script>
</body>

</html>
